@media only screen and (max-width: 1300px) {
  .header_cont {
    padding: 1.9rem 15px 1.6rem;
  }
  .main_cont {
    padding: 176px 15px;
  }

  #sec1 {
    padding: 3rem 15px;
  }
  .ftr_cont .ftr_top {
    padding: 3rem 15px;
  }
}

@media only screen and (max-width: 1100px) {
  #hero .slides {
    position: relative;
    margin-left: -295px;
    width: 154%;
  }
  .hero_content h2 span {
    font-size: 25px;
  }
  .hero_content h2 {
    font-size: 35px;
  }
  .hero_content p {
    font-size: 18px;
    line-height: 26px;
  }
  .hero_content {
    min-height: 344px;
    top: 33px;
    max-width: 369px;
    left: 1rem;
  }
  .main_cont .right_main {
    max-width: 369px;
    flex-shrink: 0;
  }
  .main_cont .left_main {
    margin-right: 2rem;
  }
  .main_cont {
    padding: 60px 15px;
  }
}

@media only screen and (max-width: 900px) {
  .hero_content {
    position: static;
    width: 100%;
    max-width: 100%;
    text-align: center;
    background: #eaeaea;
    min-height: unset;
    border-radius: 0;
  }
  .hero_content a {
    margin: 3rem auto 0px;
  }
  #hero .slides {
    margin-left: -34%;
    width: 169%;
  }
  .main_cont {
    padding: 40px 15px;
  }
  .gcash_cont {
    width: 307px;
  }
  .bank_cont .bank_cont_inner {
    margin: 1rem 0 0;
  }
}

@media only screen and (max-width: 800px) {
  .main_cont main {
    flex-direction: column-reverse;
  }
  .main_cont .right_main {
    max-width: 500px;
    margin: 0 auto 3rem;
  }
  .main_cont .left_main {
    margin-right: 0;
  }
  .main_cont h1 span {
    font-size: 27px;
  }
  .main_cont h1 {
    font-size: 36px;
  }
}

@media only screen and (max-width: 750px) {
  .sec1_btm {
    flex-direction: column;
  }
  .gcash_cont {
    width: 100%;
    max-width: 450px;
    margin: 0 auto 2rem;
  }
  .bank_cont {
    margin-left: 0rem;
  }
  .bank_cont .bank_cont_inner .left_row {
    text-align: left;
  }
  .sec_ftr1 {
    margin: 2rem 0 0;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    max-width: 247px;
  }

  .header_cont {
    padding: 1.9rem 15px 1.2rem;
  }
  .menubars {
    font-size: 28px;
  }
  #sec1 {
    padding: 2rem 15px;
  }
  .sec1_cont .sec1_top h2 {
    font-size: 30px;
  }
  .sec1_cont .sec1_top h2 span {
    font-size: 18px;
  }
  .sec1_cont {
    margin: 0;
  }
  .bank_cont {
    font-size: 17px;
  }
  .email_cont a {
    display: block;
  }
  .ftr_cont .ftr_top {
    flex-direction: column;
    align-items: center;
    padding: 40px 15px;
  }
  .cont_info {
    text-align: center;
  }
  .cont_info {
    margin-bottom: 2rem;
  }
  .sitemap {
    margin-bottom: 1rem;
  }
  .ftr_btm {
    padding: 1rem 15px;
  }
}

@media only screen and (max-width: 400px) {
  .logo {
    max-width: 220px;
  }
}
